@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@keyframes fadeIn {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}


* {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out, opacity 0.1s ease-in-out;
}

html,
body {
    margin: 0px;
    background-color: #f2f4f8;
}

main {
    padding: 10px;
    min-height: 80vh;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

main .page {
    animation: fadeIn 0.3s ease-in-out forwards;
}

main .page {
    background-color: #fff;
    box-shadow: 0 4px 10px 0 #b1c5d46b;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    flex-grow: 1;
    height: fit-content;
}

.mini {
    font-size: 0.8rem;
    opacity: 0.5;
    margin: 2px 0px;
}

a.target {
    padding: 4px;
    background-color: #f2f4f8;
    color: #6e6e6e;
    text-decoration: none;
    border-radius: 80px;
    display: inline-flex;
    gap: 4px;
    align-items: center;
    font-size: 0.8rem;
}

a {
    text-decoration: none;
}

a.target img {
    --size: 16px;
    width: var(--size);
    height: var(--size);
    object-fit: scale-down;
    flex-basis: fit-content;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.centered {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.centered a {
    padding: 10px;
    text-decoration: none;
    background-color: #121212;
    border-radius: 6px;
    color: #fff;
    font-size: 0.8rem;
}